@media (max-width: 1024px) {
    #content_area {
        flex-direction: column;
        text-align: center;
    }

    .left_side,
    .form_area {
        flex-basis: 100%;
        max-width: 100%;
    }

    .left_side img {
        width: 250px;
        margin: 0 auto;
    }
    .left_side{
        padding-bottom: 10px;
    }
}

@media (max-width: 820px) {
    #content_area {
        padding: 40px 0;
    }

    .left_side h2 {
        font-size: 24px;
        padding: 0;
        text-align: center;
    }

    .form_area form {
        padding: 10px;
    }

    .form_area input,
    .form_area button {
        font-size: 16px;
        padding: 12px;
    }
    .left_side{
        padding-bottom: 10px;

    }
}

@media (max-width: 450px) {
    #body_area {
        min-height: auto;
    }

    .left_side img {
        width: 200px;
    }

    .form_area input,
    .form_area button {
        font-size: 14px;
        padding: 10px;
    }
}