/* * {
    align-items: center;
}

.header {
    padding: 5%;
    border: 5%;
    align-items: center;
    align-content: center;
    left: 50%;
}


.header img {
    width: 50%;
    align-items: center;
}

.header p {
    font-size: 30px;
}

.box {

    background-color: white;
    text-align: center;
    box-sizing: border-box;
    border: 10px;
    left: 50%;

}

.box2 {
    background-color: antiquewhite;
    padding: 10px;
    height: fit-content;
    align-items: center;
    right: 20%;
    top: 25%;
}

hr {
    background-color: black;
} */

 